site_name: CanFlow Documentation
site_url: https://github.com/harshafaik/CanFlow
repo_url: https://github.com/harshafaik/CanFlow
edit_uri: edit/main/documentation/

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - search.suggest
    - search.highlight

nav:
  - Home: index.md
  - Components:
    - Simulator: simulator.md
    - Sensors: sensors.md
    - Producer: producer.md
  - Infrastructure: infrastructure.md
  - Issues: issues.md
  - Performance: performance.md

docs_dir: documentation
site_dir: site

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
